.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.container div:nth-child(1){
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 18px;
}

div a{
    text-decoration: none;
    color: #003785;
}

div a:hover{
    text-decoration: underline;
}