<div class="container">
    <app-prova></app-prova>
    <div class="line"></div>
    <app-input></app-input>
    <div class="line"></div>
    <app-btn></app-btn>
    <div class="line"></div>
    <app-mapping></app-mapping>
    <div class="line"></div>
    <app-switch></app-switch>
    <div class="line"></div>
    <app-father></app-father>
    <div class="line"></div>
    <app-element-ref></app-element-ref>
    <div class="line"></div>
    <app-custom-directive></app-custom-directive>
    <div class="line"></div>
    <app-routing-test></app-routing-test>
    <div class="line"></div>
    <app-form></app-form>
    <div class="line"></div>
    <app-reactive-form></app-reactive-form>
    <div class="line"></div>
    <app-handle-data></app-handle-data>
    <div class="line"></div>
</div>

