.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    gap: 50px;
    padding : 30px
}

.line{
    display: flex;
    height: 1px;
    width: 90%;
    background-color: black;
    align-self: center;
    border-radius: 10px;
}
