.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.btnContainer{
    display: flex;
    align-items: flex-start;
    width: 100%;
    gap: 30px;
}

.btnContainer input{
    width: 35px;
    align-self: center;
}

.btnContainer button{
    padding: 10px;
    width: 100px;
    cursor: pointer;
}
